:root {
    --font-main: "Roboto", sans-serif;
    --accent-color: #4d5ae5;
    --title-color: #2E2F42;
    --text-color: #434455;
    --text-footer: #F4F4FD;
    --bakgr-footer: #2E2F42;
    --backgr-btn: #404BBF;
    --title-one: #ffffff;
    --portfolio:#e7e9fc;
    --customers-btn: #8E8F99;
}
body {
    font-family: var(--font-main);
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
    
   /* outline: 2px solid red;*/
}
@media screen and (min-width: 768px) {
    .container {     
    max-width: 767px;
    margin: 0 auto;
    }
}
@media screen and (min-width: 1158px) {
    .container {
      max-width: 1157px;
      padding: 0 15px;
      margin: 0 auto;
    }
}