
/* *********** HEADER ********* */
.header {
    border-bottom: 1px solid #E7E9FC;
    background: var(--text-footer);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;
} 
.logo {    
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0, 013em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;      
}
.logo-text {
    color: var(--title-color);      
}
 .header-menu-list {    
    display: flex;    
    gap: 40px;     
}
.header-item {   
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-link {
    position: relative;
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;   
}
.header-link.current::after,
.header-link:active::after {
    background-color: var(--backgr-btn);     
}
.current {
    color: #404bbf;
}
.contact {   
    text-decoration: none;
    margin-left: 330px;   
}
.header-socials {    
    display: flex;    
     gap: 40px;   
}
.header-social {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-social-link{
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link:hover,
.header-social-link:focus {
    color: #404bbf;
}

/* *************** HERO studio ********* */
.hero {   
    max-width: 1440px;
    height: 600px;
   background-color: var(--bakgr-footer);
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;    
}
.container-text {
    padding: 188px 0;
    display: flex; 
    flex-direction: column;     
    align-items: center;     
}
.hero-business { 
        max-width: 496;
        color: var(--title-one);
        text-align: center;
        font-size: 56px;        
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;  
        max-width: 496px;      
}
.hero-img-btn {
    background-color: var(--accent-color);
    color: var(--title-one);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 170px;
    min-height: 56px; 
    margin-top: 48px;  
    min-width: 169px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-img-btn:hover,
.hero-img-btn:focus {
     background-color:var(--backgr-btn);

}

/* *************** DESCRIPTION Web Studio ********* */
.description {
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
    .description {
        padding: 120px 0;
    }
}
.description-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;     
}

@media only screen and (min-width: 1158px) {
    .description-list {
       gap: 24px; 
    }
}
.description-item {
    
}
@media only screen and (min-width: 768px) {
    .description-item {
        width: calc((100% - 42px) / 2);
    }
}
@media only screen and (min-width: 1158px) {
    .description-item {
        width: calc((100% - 72px) / 4);
    }
}    
.descr-icons {  
    display: none;     
} 
@media only screen and (min-width: 1157px) {
    .descr-icons {
            display: block;
            height: 112px;
            background-color: var(--text-footer);
            border-radius: 4px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

.descr-picture {
  
}

.description-title {
    color: var(--title-color);
    font-family: var(--font-main);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
    .description-title {
      text-align: left;
    }
}
@media only screen and (min-width: 1158px) {
    .description-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;        
    }
}

.description-text {
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

@media only screen and (min-width: 1158px) {
    .description-text {
        font-weight: 400;
    }
}


/* *************** DOING Web Studio ********* */

.doing {
   display: none;
}   
@media only screen and (min-width: 1157px) {
.doing {
    display: block;
    padding-bottom: 120px;
}
}   
.doing-container {}

.doing-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;    
}

.doing-item {
width: calc((100% - 24px) / 3);
}

/* *************** TEAM Web Studio ********* */
.team {
    padding: 96px 0;
    background-color: var(--text-footer);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
}
@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}


.container-team {}

.team-title {
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
} 
.team-list {
    display: flex;
    flex-wrap: wrap;
     
}
@media only screen and (min-width: 768px) {
    .team-list {
      row-gap: 64px; 
      column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
    gap: 24px;
    }
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-one);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.descript-blok {
    padding: 32px 0;
}
.team-descript-title {
    color: var(--title-color);
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;       
    text-align: center;
    margin-bottom: 8px;
}
.team-descript-text {
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    text-align: center;
}

.team-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;    
}
.team-icons-item {
   width: 40px;
   height: 40px;  
}
.team-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: var(--text-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social {   
  fill: currentColor;
}
.team-link:hover,
.team-link:focus {
    background-color: #404bbf;;
}

/* *********** CUSTOERS ************ */
.customers {
   padding: 96px 0;
}
@media only screen and (min-width: 768px) {
    .customers {
        padding: 120px 0;
    }
}

.customers-title {
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
@media only screen and (min-width: 768px) {
    .customers-list {  
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .customers-list {
        gap: 24px;
    }
}

.customers-item {
    padding: 16px 32px;
    width: calc((100% - 16px) / 2);
    height: 88px;
    border: 1px solid var(--customers-btn);
     
}
@media only screen and (min-width: 768px) {
    .customers-item {
        width: calc((100% - 48px) / 3);
    }
}

@media only screen and (min-width: 1158px) {
    .customers-item {
    width: calc((100% - 120px) / 6);
    }
}
.customers-link {
    width: 100%;
    height: 100%;
    
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--customers-btn); 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-picture {     
    fill: currentColor;
}
.customers-link:hover {
    color: #404bbf;    
    border-color: #404bbf;    
}
.customers-link:focus {
     color: #404bbf;
     border-color: #404bbf;    
}

/* *************** HERO PORTOFOLIO ********* */
.hero-menu {
    padding-top: 96px;
    padding-bottom: 120px;
}
 .container-menu { 
}
.hero-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.hero-item {}

.hero-btn {
    font-family: var(--font-main);
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--text-footer);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.hero-btn:hover,
.hero-btn:focus {
    color: var(--title-one);
    background: var(--backgr-btn);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* *************** CONTENT PORTOFOLIO ********* */

.content-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.content-item { 
    width: calc((100% - 48px) / 3); 
    overflow: hidden; 
    /*transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.content-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover, 
.content-link:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
   position: absolute;
   top: 0;
    padding: 40px 32px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-footer);
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover .overlay-text {
    transform: translateY(0); 
}
.content-link:focus .overlay-text {
    transform: translateY(0);
}
.card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.subject {
    font-family:var(--font-main);
    color: var(--title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.direct {
   color: var(--text-color); 
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* *************** FOOTER ********* */

.footer {
    padding: 100px 0;
    background-color: var(--bakgr-footer);
}

.footer-container {
    display: flex;
    align-items: baseline;
}
  
.footer-block {
   margin-right: 120px;
}

.logo-ff {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0, 013em;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    display: inline-block;
    margin-bottom: 16px;   
}
.logo-footer {
    display: inline-block;
    color: var(--text-footer);    
}
.footer-text {
    color:var(--text-footer); 
    max-width: 264px;  
}
.footer-media {
  color: var(--title-one);
  font-weight: 500;
  font-size: 16px;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-link {
    display: flex;
    gap: 16px;
    padding-left: 0;   
  }

.footer-list {
    width: 40px;
    height: 40px; 
 }
 .footer-icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--text-footer);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .footer-icon {   
    fill: currentColor;
 }

.footer-icons-link:hover {
    background-color: #31d0aa;
}
.footer-icons-link:focus {
    background-color: #31d0aa;
}
.footer-blok {
    margin-left: 80px;
}
.footer-blok-text {
    margin-bottom: 16px;
    color: var(--title-one);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-form-lab {   
}
.footer-form-inpt {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px; 
  color: #ffffff;
}
.footer-form-inpt::placeholder {
    color: #ffffff;
}
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-one);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
}
.footer-btn-icon {
    margin-left: 16px;
    fill: var(--title-one);
}


/* *************** MODAL ********* */

.backdrop {
position: fixed;    
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.40);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 200ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;  
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  opacity: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
    transition-delay: 0s;
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
background-color: #404bbf;
border: none;
fill: #ffffff;
}
.modal-btn:focus {
    background-color: #404bbf;
     border: none;
    fill: #ffffff;
}
.modal-icon-close {
    stroke: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* *************** MODAL-FORMA ********* */

.modal-title {
    color: var(--title-color);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;      
    letter-spacing: 0.02em;  
    margin-bottom: 16px;  
}
.modal-form {
    
}
.modal-tabl {
    margin-bottom: 8px;
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99; 
}
.modal-field {    
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-field-icon {
    fill: #4D5AE5;
}
.modal-comment {
    margin-bottom: 16px;
}
.modal-comment-field {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-field:focus {
    border-color: #4D5AE5;
}
.modal-comment-field::placeholder {
    color: rgba(46, 47, 66, 0.40);
}
.modal-privacy {
    margin-bottom: 24px;
}

.modal-check {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-btn);
}
.modal-check-icon {  
}
.modal-privacy-check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-user:checked ~ .modal-privacy-check {
    background-color: var(--backgr-btn);
    border: none; 
    fill: var(--text-footer);
}   
.modal-user:checked ~ .modal-privacy-check > .modal-check-icon {
    stroke: #ffffff;
    background-color: var(--backgr-btn);
}
.modal-privacy-link {
   color: var(--accent-color); 
   text-decoration: underline;
}

.modal-submit {
    display: block;
    color: var(--title-one);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 96px;
}


 
 

